<table class="sjs-table">
  <tr *ngFor="let row of table1">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
<table class="sjs-table">
  <tr *ngFor="let row of table2">
    <td *ngFor="let val of row">
      {{val}}
    </td>
  </tr>
</table>
<div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
